body {
  font-family: 'Inter variable', sans-serif, Arial, Helvetica;
  margin: 0;
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  text-wrap: pretty;
}

main {
  padding: 4rem;
  margin-left: auto;
  margin-right: auto;
}

header {
  color: #000000;
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  margin: 6px 0 0;
}

section {
  width: 100%;
  max-width: 42rem;
  margin: 30px auto 0;
}

ul {
  list-style: none;
  margin: 6px 0 0;
  padding: 0;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #000000;
  margin: 6px 0 0;
}

.hero {
  display: flex;
  align-items: center;
  margin: 0 auto 0;
  gap: 4rem;
}

.direction a {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  font-weight: 400;
  font-size: 0.78125rem;
  text-decoration: none;
  color: #6b7280;
}

.direction a:hover {
  text-decoration: underline;
}

.hero footer {
  display: flex;
  gap: 0.5rem;
  margin-top: 6px;
}

.hero footer a {
  width: 2rem;
  height: 2rem;
  box-sizing: border-box;
  color: #5c5b5b;
  border: #d6d3d3 solid 1px;
  border-radius: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  transition: all 0.3s ease-in-out;
}

.hero footer a:hover {
  background-color: #777;
  color: #fff;
}

.hero img {
  aspect-ratio: 199/193;
  object-fit: cover;
  border-radius: 10px;
  width: 112px;
  flex-shrink: 0;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-wrap: pretty;
  gap: 4rem;
}

.date {
  color: #888;
  font-size: 0.875rem;
  text-wrap: nowrap;
  letter-spacing: 1.5px;
}

.techonologies {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}

.technology {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-wrap: nowrap;
}

@media (width < 768px) {
  main {
    padding: 1rem;
  }

  .hero {
    margin: 0px auto 0;
    width: 100%;
    gap: 0.6rem;
  }

  section {
    margin-top: 32px;
    width: 100%;
  }
}

@media (width < 330px) {
  main {
    overflow: scroll;
  }

  .techonologies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}