body {
  font-family: "Inter Variable", sans-serif;
}

main {
  padding: 4rem;
}

header {
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  color: #6b7280;
  font-size: 0.9rem;
  margin-top: 6px;
  margin-bottom: 0px;
}

section {
  width: 60%;
  margin: 30px auto 0;
  gap: 5rem;  
}

.hero {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 auto 0;
  gap: 5rem;
}

.direction {
  display: flex;
  gap: 4px;
  align-items: center;
  text-decoration: none;
  color: #6b7280;
  font-size: 0.8rem;
  margin-top: 6px;
  margin-bottom: 0px;
}

.direction:hover {
  text-decoration: underline;
}

.hero footer {
  display: flex;
  gap: 8px;
  margin-top: 6px;
}

.hero footer a {
  width: auto;
  height: auto;
  color: #484848;
  border: #868686 solid 1px;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  transition: all 0.3s ease-in-out;
}

.hero footer a:hover {
  background-color: #777;
  color: #fff;
}

.hero img {
  aspect-ratio: 199/193;
  object-fit: cover;
  border-radius: 10px;
  width: 130px;
  flex-shrink: 0;
}

.techonologies {
  list-style: none;
  margin: 6px 0 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}

.technology {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  color: #6b7280;
  font-size: 0.9rem;
}

@media (width < 800px) {
  main {
    padding: 1rem;
  }

  .hero {
    margin: 0px;
    width: 100%;
    gap: 0.6rem;
  }

  section {
    margin-top: 32px;
    width: 100%;
    gap: 0.6rem;
  }
}